.nav-bar {
    z-index: 1000; 
    background-color: #171C28 !important;
    height: 70px;
    padding: 10px 50px;
    border-bottom: 0.5px solid #50545a;
}

.nav-bar a {
    text-decoration: none;
    font-weight: 600;
    font-size: 0.786rem;
    letter-spacing: 1px;
    line-height: 2;
    color: #F5F5F5;
}

.nav-bar ul {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.nav-bar ul li {
    padding: 0 10px;
}

.nav-bar ul li a:hover:before,
.nav-bar ul li a.active:before {
    visibility: visible;
    width: 100%;
}

.nav-bar ul li a.active {
    color: #00c2ff;
}


@media (min-width: 992px) {
    .navbar-nav {
        flex-direction: row;
    }

    .nav-link {
        padding-right: .5rem;
        padding-left: .5rem;
    }

    .navbar-expand-lg > .container-fluid {
        flex-wrap: nowrap;
    }
}

@media (max-width: 992px) {
    .navbar-dark .navbar-nav .nav-link {
        font-weight: 200;
        color: #171C28 !important; 
        background-color: #F5F5F5;
        margin: 0 auto;
    }

    .navbar-dark .navbar-nav .nav-link:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }

    .navbar-collapse {
        padding-left: 20px;
    }

    .navbar-nav .nav-link {
        padding-left: 20px;
    }
    
    .navbar-nav .nav-item {
        border-bottom: 1px solid #fff;
        margin: 0;
        padding: 0rem 0;
    }
}