* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0;
}

body {
  background-color: #171C28;
  font-family: Inter, "Source Sans Pro";
  min-height: 100vh;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}
.signup-box {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 20px;
  background-color: #f5f5f5;
  color: #171C28;
  border-radius: 10px;
  width: 380px;
  align-items: flex-start;
  text-align: left;
  margin-bottom: 8px;
  box-sizing: border-box; 
  
}

.signup-box p {
  font-size: .975rem
}

.signup-box input,
.signup-box button {
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #f5f5f5;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}

.signup-box input:focus {
  outline: none;
  border-color: #ccc;
}

.signup-box button {
  background-color: #00c2ff;
  color: #f5f5f5;
  border: none;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s ease;
}

.signup-box button:hover {
  background-color: #0086b3 !important; 
}

.signup-box .separator {
  color: #f5f5f5;
  margin: 10px 0;
  width: 100%;
  text-align: center;
}

.signup-box .social-icons {
  display: flex;
  gap: 10px;
  justify-content: center;
  width: 100%;
}

.signup-box .social-icons img {
  width: 30px;
  height: 30px;
}

.signup-box a {
  color: #00c2ff;
  text-decoration: none;
  transition: background-color 0.3s ease;
}
.signup-box a:hover {
  color: #0086b3;
}

#username, #email, #password, #confirmPassword {
  font-size: 14px;
}

.line-with-text {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;

}
.line-with-text hr {
  width: 100%;
}

.login-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  font-size: 1rem;
}

.login-content p {
  font-size: 0.8rem;

}

input, .error-message {
  margin: 0;
  padding: 0;
  
  display: block;
}

.success-message {
  color: green;
  font-size: 0.8em;
  font-weight: normal !important;
  letter-spacing: 0.01em;
}

.error-message {
  color: hsl(0, 75%, 50%);
  font-size: 0.8em;
  font-weight: normal !important;
  letter-spacing: 0.01em;
}