* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
  
body {
    background-color: #f5f5f5 !important;
    font-family: Inter, "Source Sans Pro";
    min-height: 100vh;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    flex-direction: row;
}

.btn-primary {
    background-color: #00c2ff !important;
    border: none !important;
    transition: background-color .3s ease !important;
}

.btn-primary:hover {
    background-color: #0086b3 !important;
}

.header {
    margin: 50px 0;
}

.search-box {
    float: right;
  }
  
  .search-input {
    border: 1px solid #ccc;
    padding: 5px 10px;
    width: 200px;
    border-radius: 3px;
  }
  
  .search-button {
    background: none;
    border: none;
    margin-left: -25px;
    cursor: pointer;
  }  

.users-dashboard {
    margin-top: 20px;
}

.users-dashboard .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.users-dashboard .table {
    margin-top: 20px;
}


@media screen and (max-width: 768px) {
    body {
        flex-direction: column;
    }
}

@media (max-width: 600px) {
    .search {
        flex-direction: column;
        align-items: stretch;
    }

    .search-form {
        margin-right: 0;
        width: 100%;
    }

    .search-input,
    .search-button {
        width: 100%;
        margin-top: 10px;
    }
}