<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A700" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A500%2C600%2C700" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins%3A500%2C600" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/styles/header.css" />
    <link rel="stylesheet" href="/styles/about.css" />


</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark nav-bar" id="myNavbar">
        <a class="navbar-brand" href="/templates/index.html" style="color: #00c2ff;">Celse Honore RUGIRA</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/templates/index.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/templates/about.html">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/templates/portifolio.html">Portfolio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/templates/blogs.html">Blogs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/templates/contact-me.html">Contact Me</a>
                </li>
                <li class="nav-item" id="login">
                    <a class="nav-link" href="/templates/login.html">Login</a>
                </li>
                <li class="nav-item dropdown" id="userMenu" style="display: none;">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-user"></i>  <!-- Font Awesome user icon -->
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a id="dashboardLink" class="dropdown-item" href="/templates/dashboard.html">Dashboard</a>
                        <a id="logoutLink" class="dropdown-item" href="/templates/logout.html">Logout</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="about-section">
            <div class="header">
                <div class="profile-pic-container">
                    <img class="profile-pic" src="/images/profile.jpeg" alt="Profile Picture">
                </div>
                <div class="header-content">
                    <div class="title">
                        <h1>Celse Honore RUGIRA</h1>
                        <h2 style="color: rgba(255,255,255,.75);">Software developer</h2>
                    </div>

                    <div class="social-links">
                        <a href="https://www.instagram.com/rugiracelse/"><img src="/assets/instagram-svgrepo-com.svg" alt="instagram" /></a>
                        <a href="#"><img src="/assets/facebook-icon.svg" alt="instagram" /></a>
                        <a href="www.linkedin.com/in/celse-honore-rugira-14a403221"><img src="/assets/linkedin-svgrepo-com.svg" alt="instagram" /></a>
                        <a href="https://github.com/celse13"><img src="/assets/github-142-svgrepo-com.svg" alt="instagram" /></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="left-column">
                <!-- Left column content -->
                <div class="contact-info">
                    <h3>Contact</h3>
                    <ul>
                        <li><i class="fas fa-globe"></i> Website: </li>
                        <li><i class="fas fa-phone"></i> Telephone: +250784764732</li>
                        <li><i class="fas fa-envelope"></i> Email: rugiracelse13@gmail.com</li>
                    </ul>
                </div>

                <div class="education">
                    <h3>Education</h3>
                    <ul>
                        <li>
                            <strong>Business Management</strong>
                            <ul>
                                <li>Southern New Hampshire (SNHU)</li>
                                <li>2023 - present</li>
                            </ul>
                        </li>
                        <br>
                        <li>
                            <strong>Software Engineering</strong>
                            <ul>
                                <li>Alx Africa</li>
                                <li>2023 - present</li>
                            </ul>
                        </li>
                        <br>
                        <li>
                            <strong>Software Development</strong>
                            <ul>
                                <li>Andela ATLP</li>
                                <li>2024 - present</li>
                            </ul>
                        </li>
                    </ul>
                </div>

                <div class="expertise">
                    <h3>Expertise</h3>
                    <ul>
                        <li>JavaScript</li>
                        <li>Python</li>
                        <li>C</li>
                    </ul>
                </div>

                <div class="skills">
                    <h3>Skills</h3>
                    <ul>
                        <li>Fullstack development</li>
                        <li>Database Management</li>
                        <li>Team work</li>
                        <li>Goal oriented</li>
                        <li>Financial Modeling</li>
                        <li>Graphic designing</li>
                    </ul>
                </div>
            </div>

            <div class="right-column">
                <div class="about-me">
                    <h3>About</h3>
                    <p>
                        Hello, I'm Celse Honore RUGIRA, a web developer based in Kigali, Rwanda.
                        I have a passion for web development and love to create web applications that are user-friendly
                        and visually appealing.
                        I am also a self-taught programmer and have a passion for learning new technologies and
                        frameworks.

                    </p>
                </div>

                <div class="projects">
                    <h3>Self-initiated projects</h3>
                    <h4>Various Projects</h4>
                    <p>February, 2023 - Present</p>
                    <p>
                        Over the course of my career, I've had the opportunity to work on a variety of projects that
                        have helped me grow as a developer.
                        One of these was a web application that allows users to create and manage their own blogs.
                        This project involved designing and implementing a user-friendly interface, setting up a secure
                        backend, and ensuring that users could easily post new content, edit existing posts, and
                        interact with their readers.
                        In addition to this, I've also worked on projects involving e-commerce, social networking like
                        AirBnB clone project.
                        Each of these projects presented its own unique challenges and learning opportunities, and I'm
                        proud of the solutions I was able to develop.
                        I'm always looking for new projects to work on and new challenges to tackle. I'm excited to see
                        what the future holds and to continue growing and learning as a developer,
                        <a href="/templates/portifolio.html">Check them out.</a>
                    </p>
                </div>
            </div>
        </div>

        <footer class="my-footer">
            <p>© Celse Honore RUGIRA. All rights reserved.</p>
        </footer>
    </div>
    </div>
    <script src="/static/authStatus.js"></script>
    <script src="/static/header.js"></script>
    <script src="/static/logout.js"></script>
    <script src="/static/authStatus.js"></script>
    <script src="/static/login.js"></script>
    
    
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>