<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/styles/header.css" />
    <link rel="stylesheet" href="/styles/index.css" />
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark nav-bar" id="myNavbar">
        <a class="navbar-brand" href="/templates/home.html" style="color: #00c2ff;">Celse Honore RUGIRA</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/templates/index.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/templates/about.html">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/templates/portifolio.html">Portfolio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/templates/blog.html">Blogs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/templates/contact-me.html">Contact Me</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/templates/signup.html">Dashboard</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="intro">
                        <h1>The Business-code maestro in software development</h1>
                        <p>
                            I'm Celse, a passionate software developer with a knack for turning ideas into impactful solutions. 
                            I specialize in building websites, crafting mobile apps, and creating seamless software systems.
                        </p>
                        <button class="btn-more-about-me buttons">More about me</button>
                        <button class="btn-view-my-work buttons">View my work</button>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="profile-image">
                        <img src="/images/profile.jpeg" alt="profile-image" />
                       <a ref="/path/to/your/resume.pdf" download="MyResume"><button id="resume" class="btn-view-my-work buttons">See my resume</button></a> 
                    </div>
                </div>
            </div>
        </div>
    </div>                 
   

<script src="/static/header.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>