<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/dashboard-header.css">
    <link rel="stylesheet" href="/styles/notifications.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>Notifications</title>
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-light sidebar" id="top-aligned-nav">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                <div class="sidebar-sticky">
                    <a href="/templates/dashboard.html"><h1>Dashboard</h1></a>
                    <ul class="nav flex-column">
                        <li class="nav-item"><a class="nav-link" href="/templates/home.html">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Users</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Blogs</a></li>
                        <li class="nav-item"><a class="nav-link" href="/templates/messages.html">Messages</a></li>
                        <li class="nav-item"><a class="nav-link" href="/templates/notifications.html">Notifications</a></li>
                        <li class="nav-item"><a class="nav-link" href="/templates/accounts.html">Accounts</a></li>
                    </ul>            
                    <div class="profile-picture">
                        <img src="/images/profile.jpeg" alt="Profile Picture">
                        <a href="/signout">Sign out</a>
                    </div>
                </div>
            </div>
        
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <div class="messages-dashboard">
            <div class="search">
                <form class="search-form form-inline ml-auto">
                <input class="form-control mr-sm-2 search-input" type="search" placeholder="Search..." aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0 search-button" type="submit">
                    <img src="/images/search.png" alt="Search">
                </button>
                </form>
            </div>
            <div class="notifications">
                <div class="notifications-icon">
                    <p class="number">3</p>
                    <img src="/assets/comments-svgrepo-com.svg" alt="Notifications">
                    <h3>Notifications</h3>
                </div>
                <div class="notifications-content">
                    <div class="row">
                        <img src="/assets/account-circle-svgrepo-com.svg" alt="Post 1">
                        <div class="notifications-description">
                            <div>
                                <p>You are doing great</p>
                                <p>From Celse Honore RUGIRA</p>
                            </div>
                            
                            <div class="blog-time">
                                <img src="/assets/Time.svg" alt="" srcset="">
                                <p><span>February 2, 2024</span></p>
                            </div>
                        </div>
                        <div class="buttons">
                            <a href="/templates/reply-notifications.html" target="_blank"><button type="button">View</button></a>
                            <button type="button">Delete</button>
                        </div>
                    </div> 
                    <div class="row">
                        <img src="/assets/account-circle-svgrepo-com.svg" alt="Post 1">
                        <div class="notifications-description">
                            <div>
                                <p>You are doing great</p>
                                <p>From Celse Honore RUGIRA</p>
                            </div>
                            
                            <div class="blog-time">
                                <img src="/assets/Time.svg" alt="" srcset="">
                                <p><span>February 2, 2024</span></p>
                            </div>
                        </div>
                        <div class="buttons">
                            <a href="/templates/reply-notifications.html" target="_blank"><button type="button">View</button></a>
                            <button type="button">Delete</button>
                        </div>
                    </div> 
                    <div class="row">
                        <img src="/assets/account-circle-svgrepo-com.svg" alt="Post 1">
                        <div class="notifications-description">
                            <div>
                                <p>You are doing great</p>
                                <p>From Celse Honore RUGIRA</p>
                            </div>
                            
                            <div class="blog-time">
                                <img src="/assets/Time.svg" alt="" srcset="">
                                <p><span>February 2, 2024</span></p>
                            </div>
                        </div>
                        <div class="buttons">
                            <button type="button">View</button>
                            <button type="button">Delete</button>
                        </div>
                    </div> 
                    <div class="row">
                        <img src="/assets/account-circle-svgrepo-com.svg" alt="Post 1">
                        <div class="notifications-description">
                            <div>
                                <p>You are doing great</p>
                                <p>From Celse Honore RUGIRA</p>
                            </div>
                            
                            <div class="blog-time">
                                <img src="/assets/Time.svg" alt="" srcset="">
                                <p><span>February 2, 2024</span></p>
                            </div>
                        </div>
                        <div class="buttons">
                            <a href="/templates/reply-notifications.html" target="_blank"><button type="button">View</button></a>
                            <button type="button">Delete</button>
                        </div>
                    </div> 
                    <div class="row">
                        <img src="/assets/account-circle-svgrepo-com.svg" alt="Post 1">
                        <div class="notifications-description">
                            <div>
                                <p>You are doing great</p>
                                <p>From Celse Honore RUGIRA</p>
                            </div>
                            
                            <div class="blog-time">
                                <img src="/assets/Time.svg" alt="" srcset="">
                                <p><span>February 2, 2024</span></p>
                            </div>
                        </div>
                        <div class="buttons">
                            <a href="/templates/reply-notifications.html" target="_blank"><button type="button">View</button></a>
                            <button type="button">Delete</button>
                        </div>
                    </div> 
                    <div class="row">
                        <img src="/assets/account-circle-svgrepo-com.svg" alt="Post 1">
                        <div class="notifications-description">
                            <div>
                                <p>You are doing great</p>
                                <p>From Celse Honore RUGIRA</p>
                            </div>
                            
                            <div class="blog-time">
                                <img src="/assets/Time.svg" alt="" srcset="">
                                <p><span>February 2, 2024</span></p>
                            </div>
                        </div>
                        <div class="buttons">
                            <a href="/templates/reply-notifications.html" target="_blank"><button type="button">View</button></a>
                            <button type="button">Delete</button>
                        </div>
                    </div> 
                </div>
                
            </div>
           
        </div>
    </main>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>