<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Project</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A700" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A500%2C600%2C700" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins%3A500%2C600" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/styles/header.css" />
    <link rel="stylesheet" href="/styles/project-1.css" />
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark nav-bar" id="myNavbar">
        <a class="navbar-brand" href="/templates/index.html" style="color: #00c2ff;">Celse Honore RUGIRA</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/templates/index.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/templates/about.html">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/templates/portifolio.html">Portfolio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/templates/blogs.html">Blogs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/templates/contact-me.html">Contact Me</a>
                </li>
                <!-- Unauthenticated users see this -->
                <li class="nav-item" id="login">
                    <a class="nav-link" href="/templates/login.html">Login</a>
                </li>
                <!-- Authenticated users see this -->
                <li class="nav-item dropdown" id="userMenu" style="display: none;">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Menu
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/templates/dashboard.html">Dashboard</a>
                        <a class="dropdown-item" href="/templates/logout.html">Logout</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    
    <div class="container">
        <div class="left-column">
          <a class="move-back" href="/templates/portifolio.html"><i class="fas fa-arrow-left"></i> Back to projects</a>
          <h2>AirBnB Clone</h2>
          <p class="project-description">
            Provide users GitHub statistics and information about their repositories.
          </p>
          <div class="button-container">
            <a href="#" class="my-btn btn-source">Source code <i class="fab fa-github"></i></a>
            <a href="#" class="my-btn btn-live">Live Demo <i class="fas fa-play"></i></a>
          </div>
          
          <div class="tech-stack">
            <h3>Tech stack:</h3>
            <div class="tech-item no-top-border">
              <span>Framework</span>
              <span>Web Flask</span>
            </div>
            <div class="tech-item">
              <span>Language</span>
              <span>JavaScript & Python</span>
            </div>
            <div class="tech-item">
              <span>CSS</span>
              <span>CSS</span>
            </div>
            <div class="tech-item no-bottom-border">
              <span>Use case</span>
              <span>Education</span>
            </div>
          </div>
        </div>
        <div class="right-column">
            <img src="/images/user-activity.jpeg" alt="Project image" class="project-image">
            <h2>How it's built and what it does</h2>
            <p>
              Our AirBnB clone project is a web application developed using modern web technologies such as HTML, CSS, JavaScript, and Python. 
              It replicates the core functionalities of the popular AirBnB platform, allowing users to search for accommodations, view property details, make reservations, and manage their bookings. 
              The project also incorporates features like user authentication,and real-time messaging between hosts and guests, providing a seamless and intuitive experience for both parties.

            </p>
            <h2>Demo of the app</h2>
            <p>Short description about the demo</p>
        </div>
    </div>


    <script src="/static/header.js"></script>
    <script src="/static/authStatus.js"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>