<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A700"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A500%2C600%2C700"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins%3A500%2C600"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <link rel="stylesheet" href="/styles/header.css">
    <link rel="stylesheet" href="/styles/signup.css">
   
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark nav-bar" id="myNavbar">
        <a class="navbar-brand" href="/templates/index.html" style="color: #00c2ff;">Celse Honore RUGIRA</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/index.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/templates/about.html">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/templates/portifolio.html">Portfolio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/templates/blogs.html">Blogs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/templates/contact-me.html">Contact Me</a>
                </li>
                <li class="nav-item" id="login">
                    <a class="nav-link" href="/templates/login.html">Login</a>
                </li>
                <li class="nav-item dropdown" id="userMenu" style="display: none;">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-user"></i>  <!-- Font Awesome user icon -->
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/templates/dashboard.html">Dashboard</a>
                        <a class="dropdown-item" href="/templates/logout.html">Logout</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="signup-box">
            <div id="signupSuccess" class="success-message"></div>
            <h3>Sign up</h3>
            <p>Just some details to get you in.</p>
            <input id="username" type="text" placeholder="Username" />
            <span id="usernameError" class="error-message"></span>

            <input id="email" type="email" placeholder="Email/Phone" />
            <span id="emailError" class="error-message"></span>

            <input id="password" type="password" placeholder="Password" />
            <span id="passwordError" class="error-message"></span>

            <input id="confirmPassword" type="password" placeholder="Confirm Password" />
            <span id="confirmPasswordError" class="error-message"></span>

            <button id="signupButton">Sign up</button>
            <div id="signupError" class="error-message"></div> 
            <div class="line-with-text">
                <hr>
                    <span>or</span>
                <hr>
            </div>          

            <div class="social-icons">
                <img src="/assets/devicon_google.svg" alt="Google">
                <img src="/assets/logos_facebook.svg" alt="Facebook">
                <img src="/assets/bi_github.svg" alt="Github">
            </div>
            <div class="login-content">
                <p>Already Registered? <a href="/templates/login.html">Login</a></p>
            </div>
        </div>
    </div>
    
</body>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="/static/signup.js"></script>
    <script src="/static/header.js"></script>
</html>