<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Single Blog Post</title>
  <link rel="stylesheet" href="/styles/single-blog.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>

<body>
  <header class="header">
    <a href="/templates/dashboard-blog.html" class="back-button back-arrow">Back</a>
    <h1></h1>
    <div class="author"></div>
    <div class="date"></div>
  </header>

  <div class="content">
    <div class="author-info">
      <img class="blog-profile" src="/images/profile.jpeg" alt="Author Profile">
      <div class="social-links">
        <a href="#"><img src="/assets/icon-instagram.svg" alt="instagram"></a>
        <a href="#"><img src="/assets/icon-facebook.svg" alt="facebook"></a>
        <a href="#"><img src="/assets/icon-linkedin.svg" alt="linkedin"></a>
      </div>
    </div>
    <div class="blog-content">
      <p></p>
      <div class="button-count">
        <span class="like-count">
            <i class="fas fa-thumbs-up"></i> 
            <span class="like-text">0</span>
        </span>
        <span class="comment-count">
            <i class="fas fa-comment"></i> 
            <span class="comment-text">0</span>
        </span>
        <span class="share-button">
            <i class="fas fa-share-square"></i> 
        </span>
      </div>
      <footer class="footer">
        <div class="comments-section">
          <h2>Comments</h2>
          
            
          </div>
          <div class="comment-box">
            <textarea class="comment-input" placeholder="Add a comment..."></textarea>
            <button class="post-comment-button">Post Comment</button>
          </div>
      </footer>
    </div>
  </div>

  <script src="/static/single-blog.js"></script>
</body>

</html>