<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/dashboard-header.css">
    <link rel="stylesheet" href="/styles/users.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>Users</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand mt-2" href="/templates/index.html"><i class="fas fa-home fa-lg home-icon"></i>Go to home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse custom-nav" id="navbarNav">
            <ul class="navbar-nav mt-2">
                <li class="nav-item active">
                    <a class="nav-link large-font" href="/templates/dashboard.html">
                        <svg width="1.333em" height="1.333em" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                            fill="none" style="vertical-align: middle;">
                            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                            <g id="SVGRepo_iconCarrier">
                                <path stroke="#f5f5f5" stroke-width="2"
                                    d="M4 5a1 1 0 0 1 1-1h4a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V5ZM14 5a1 1 0 0 1 1-1h4a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-4a1 1 0 0 1-1-1V5ZM4 16a1 1 0 0 1 1-1h4a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-3ZM14 13a1 1 0 0 1 1-1h4a1 1 0 0 1 1 1v6a1 1 0 0 1-1 1h-4a1 1 0 0 1-1-1v-6Z">
                                </path>
                            </g>
                        </svg>
                        <span class="text">Dashboard</span> <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link large-font" href="/templates/dashboard-blog.html"><i
                            class="fas fa-blog fa-lg"></i> Blogs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link large-font" href="/templates/messages.html"><i class="fas fa-envelope fa-lg"></i>
                        Messages</a>
                </li>
                <li class="nav-item">
                    <hr class="custom-hr">
                </li>
                <li class="nav-item">
                    <p class="nav-heading">Users & Settings</p>
                </li>
                <li class="nav-item add-margin-top">
                    <a class="nav-link large-font" href="/templates/users.html"><i class="fas fa-users fa-lg"></i>
                        Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link large-font" href="/templates/accounts.html"><i class="fas fa-cog fa-lg"></i>
                        Setting
                    </a>
                </li>
                <li class="nav-item logout-item">
                    <a class="nav-link large-font logout-button" href="/logout">
                        <i class="fas fa-sign-out-alt fa-lg"></i> Logout
                    </a>
                </li>
            </ul>
        </div>
    </nav>



    <div class="container mt-4">
        <div class="d-flex justify-content-between align-items-center mb-3 fixed-header header-no-shadow"
            style="border-bottom: 2px solid grey">
            <h1>Users management</h1>
            <div class="d-flex align-items-center">
                <a href="#" class="btn btn-light mr-1" style="background-color: #f5f5f5; border: none;">
                    <i class="fas fa-moon"></i>
                </a>
                <div style="position: relative; margin-right: 5px;">
                    <a href="#" class="btn btn-light mr-1" style="background-color: #f5f5f5; border: none;">
                        <i class="fas fa-bell"></i>
                    </a>
                    <span class="badge badge-danger"
                        style="position: absolute; top: 0; right: 0px; font-size: 0.65em;">4</span>
                </div>
                <div class="dropdown no-shadow">
                    <a class="dropdown-toggle text-dark" href="#" role="button" id="dropdownMenuLink"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                        style="background-color: #f5f5f5; border: none;">
                        <img src="/images/profile.jpeg" alt="Profile" class="rounded-circle mr-2" width="40"
                            height="40">
                        <span style="font-weight: bold;">Celse Honore</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" style="margin-top: 15px;">
                        <a class="dropdown-item" href="#">Logout</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <i class="fas fa-users"></i>
                        <h5 style="display: inline-block; margin-left: 5px;">Users</h5>

                        <div class="search-box">
                            <input type="text" class="search-input" placeholder="Search users...">
                            <button class="search-button"><i class="fas fa-search"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="users">
                    <div class="users-dashboard">
                        <!-- Add this div as your loading indicator -->
                        <div id="loadingIndicator" style="display: none;">
                            <p>Loading...</p>
                        </div>

                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Username</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">isAdmin</th>
                                    <th scope="col">Subscription</th>
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody id="userTableBody">
                                <!-- The rows will be inserted dynamically by the getAllUsers.js script -->
                            </tbody>
                        </table>
                        <div class="users-dashboard">
                            <!-- Existing table and other code -->
                        
                            <!-- Add your modal here -->
                            <div class="modal" tabindex="-1" role="dialog">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content modal-content-custom">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Edit User Details</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form>
                                                <div class="form-group">
                                                    <label for="username">Username</label>
                                                    <input type="text" id="username" class="input-field" placeholder="Enter username">
                                                </div>
                                                <div class="form-group">
                                                    <label for="email">Email</label>
                                                    <input type="text" id="email" class="input-field" placeholder="Enter email">
                                                </div>
                                                <div class="form-group">
                                                    <label for="isAdmin">Is Admin</label>
                                                    <input type="checkbox" id="isAdmin" class="input-field">
                                                </div>
                                                <div class="form-group">
                                                    <label for="subscription">Subsription</label>
                                                    <input type="checkbox" id="isSubscribed" class="input-field">
                                                </div>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary">Save changes</button>
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <script src="/static/getAllUsers.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>