<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/dashboard-header.css">
    <link rel="stylesheet" href="/styles/dashboard-blog.css">
    <link rel="stylesheet" href="/styles/create-blog-post.css">
    
    <!-- <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>Create Blog</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand mt-2" href="#"><i class="fas fa-home fa-lg home-icon"></i>Go to home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse custom-nav" id="navbarNav">
            <ul class="navbar-nav mt-2">
                <li class="nav-item active">
                    <a class="nav-link large-font" href="/templates/dashboard.html">
                        <svg width="1.333em" height="1.333em" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                            fill="none" style="vertical-align: middle;">
                            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                            <g id="SVGRepo_iconCarrier">
                                <path stroke="#f5f5f5" stroke-width="2"
                                    d="M4 5a1 1 0 0 1 1-1h4a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V5ZM14 5a1 1 0 0 1 1-1h4a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-4a1 1 0 0 1-1-1V5ZM4 16a1 1 0 0 1 1-1h4a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-3ZM14 13a1 1 0 0 1 1-1h4a1 1 0 0 1 1 1v6a1 1 0 0 1-1 1h-4a1 1 0 0 1-1-1v-6Z">
                                </path>
                            </g>
                        </svg>
                        <span class="text">Dashboard</span> <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link large-font" href="/templates/dashboard-blog.html"><i
                            class="fas fa-blog fa-lg"></i> Blogs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link large-font" href="/templates/messages.html"><i
                            class="fas fa-envelope fa-lg"></i> Messages</a>
                </li>
                <li class="nav-item">
                    <hr class="custom-hr">
                </li>
                <li class="nav-item">
                    <p class="nav-heading">Users & Settings</p>
                </li>
                <li class="nav-item add-margin-top">
                    <a class="nav-link large-font" href="/templates/users.html"><i class="fas fa-users fa-lg"></i>
                        Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link large-font" href="/templates/accounts.html"><i class="fas fa-cog fa-lg"></i>
                        Setting
                    </a>
                </li>
                <li class="nav-item logout-item">
                    <a id="logoutLink" class="nav-link large-font logout-button" href="/logout">
                        <i class="fas fa-sign-out-alt fa-lg"></i> Logout
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container mt-4">
        <div class="blog-container">
            <form id="blog-form">
                <div class="input-group">
                    <input type="text" id="blog-title" placeholder="Add Title">
                    <!-- <input type="text" id="blog-author" placeholder="Add author's name"> -->
                    <input type="file" id="blog-file" accept="image/*">
                    <textarea id="blog-content" placeholder="Write your blog post here..."></textarea>
                </div>
                
                <!-- <div id="editor"></div> -->
               

                <div class="button-group">
                    <button type="submit" id="publish-button">Publish</button>
                    <button type="button" id="cancel-button">Cancel</button>
                </div>
            </form>
        </div>
    </div>
    
    <!-- <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script> -->
    <script src="/static/create-blog-post.js"></script>
    <script src="/static/logout.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>