<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skills</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A700"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A500%2C600%2C700"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins%3A500%2C600"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />

    <link rel="stylesheet" href="/styles/skill.css">
    <link rel="stylesheet" href="/styles/header.css">
    <link rel="stylesheet" href="/styles/footer.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark nav-bar" id="myNavbar">
        <div class="container-fluid container">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/templates/home.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#skills-section">Skills</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/templates/portifolio.html">Portfolio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/templates/blogs.html">Blogs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/templates/contact-me.html">Contact Me</a>
                    </li>
                </ul>
                <button class="btn btn-outline-success" type="button" id="button">
                    Login
                </button>
            </div>
        </div>
    </nav>
    <div class="content">
        <header class="header">
            <h1>How We Do What We Do</h1>
            <div class="line"></div>
            <h3>
                Perhaps you've heard whispers of expertise in the realm of software engineering. 
                Now, let me reveal my skill set in this domain.
            </h3>
        </header>
        <section id="skills-section" class="my-skills">
            <div class="my-skills-container">
                <div class="image-1">
                    <img src="/assets/one.PNG" alt="" />
                    <p>Development (Front-end & Back-end)</p>
                </div>
                <div class="image-2">
                    <img src="/assets/database.svg" alt="" />
                    <p>Database Management</p>
                </div>
                <div class="imag-3">
                    <img src="/assets/two.PNG" alt="" />
                    <p>Deployment</p>
                </div>
                <div class="image-4">
                    <img src="/assets/graphic-design-svgrepo-com.svg" alt="" />
                    <p>Graphic Designer</p>
                </div>
                <div class="image-5">
                    <img src="/assets/Frame.svg" alt="" />
                    <p>Data Visualization</p>
                </div>
                <div class="imag-6">
                    <img src="/assets/Layer_4.svg" alt="" />
                    <p>Financial Modelling</p>
                </div>
            </div>
        </section>
    </div>
    <footer class="footer">
        <div class="container">
            <div class="contact-me">Contact Me</div>
            <div class="social-links">
                <a href="#"><img src="/assets/icon-instagram.svg" alt="instagram"></a>
                <a href="#"><img src="/assets/icon-facebook.svg" alt="facebook"></a>
                <a href="#"><img src="/assets/icon-linkedin.svg" alt="linkedin"></a>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>