* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #171C28;
    font-family: Inter, 'Source Sans Pro';
    min-height: 100vh;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    color: rgba(255, 255, 255, 1);;
}
  
.container-contact-me {
    max-width: 600px;
    margin: auto;
    margin-top: 5.5rem;
    
}



.container-one {
    background-color: #171C28;
    border-radius: 10px;
    color: #f5f5f5;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin-top: 20px;
    height: auto; 
    min-height: 350px;
    border:  0.5px solid #50545a;
}

.container-one label {
    display: block;
}

.container-one input,
.container-one textarea {
    width: 10%;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #f5f5f5;
    color: #f5f5f5;
    background-color: #171C28;
}

.subscribe-form {
    margin-top: 10px;
    display: flex;
    align-items: center; 
}

.subscribe-form label {
    display: block;
    margin-bottom: 10px;
}

.subscribe-form input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #171C28;
    width: 350px;
    border-radius: 8px;
}

h1 {
    margin-top: 20px;
    font-size: 3rem;
    font-weight: 800;
    line-height: 1;
    letter-spacing: -.025em;
}

.subscribe-form button {
    margin-top: 25px;
    margin-left: 10px;
    padding: 9.5px 20px;
    background-color: #171C28;
    color: #F5F5F5; 
    border: 0.5px solid #50545a;
    border-radius: 5px; 
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.subscribe-form button:hover {
    background-color: #F5F5F5;
    color: #171C28; 
    border: none;  
}

.container-one form {
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
}


.container-one form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container-one form div {
    width: 48%;
}

.container-one form div label,
.container-one form div input {
    width: 100%;
}

.container-one form div input {
    border: 0.5px solid #50545a;
}

.container-one textarea {
    width: 100%;
    height: 150px;
    padding: 10px;
    margin-bottom: 10px;
    color: #f5f5f5;
    background-color: #171C28;
    border: 0.5px solid #50545a;
}

.container-one input,
.container-one textarea {
    border: 0.5px solid #50545a;
    background-color: #171C28;
    border-radius: 5px;
}

.container-one textarea {
    width: 100%;
    box-sizing: border-box;
}

.container-one input[type="submit"] {
    width: auto; 
    padding: 10px 20px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.container-one input[type="submit"]:hover {
    background-color: #f5f5f5;
    color: #171C28;
}

input, .error-message {
    margin: 0;
    padding: 0;
    display: block;
  }
  
  .error-message {
    color: #00c2ff;
    font-size: 0.8em;
  }

#messageSuccess {
    color: green;
    font-size: 0.8em;
    font-weight: normal !important;
    letter-spacing: 0.01em;
}



@media screen and (max-width: 600px) {
    .container-one {
        padding: 10px;
        margin: 10px; 
        font-size: 14px;
    }

    .container-contact-me h1 {
        font-size: 2rem;
        text-align: center;
    }

    .container-one form div {
        width: 100%;
    }

    .container-contact-me {
        margin-top: 1.5rem;
        max-width: 100%;
        padding: 10px;
    }

    
    .subscribe-form {
        margin-left: 11px;
    }

    .subscribe-form input {
        width: 100%;
        height: 40px;
        margin-bottom: 10px; 
    }

    .container-one textarea,
    .container-one input {
        width: 100%;
    }
   
}