* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {    
  background-color: #171C28;
  font-family: Inter, 'Source Sans Pro';
  min-height: 100vh;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  color: rgba(255, 255, 255, 1);;
}

.content {
  padding: 3.5rem 2rem;
}

.header {
  margin-top: 0.5rem;
  margin-bottom: 2.8rem;
}

.header h3 {
  font-size: 3rem;
  font-weight: 800;
  line-height: 1;
  letter-spacing: -.025em;

}

.header span {
  color: rgba(255, 255, 255, 0.45);
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(250px, 1fr));
  gap: 20px;
}

.project-link {
  display: flex;
  flex-direction: column;
  height: auto;
  border: 1px solid rgba(255, 255, 255, 1);;
  background-color: #171C28;
  color: rgba(255, 255, 255, 1);;
  border-radius: 15px;
  transition: all 0.3s;
  text-decoration: none;
}

.project-link:hover {
  transform: scale(1.05);
  text-decoration: none;
}

.project-image {
  height: 170px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  object-fit: cover;
}

.project-info {
  padding: 20px;
  background-color: #171C28;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.technologies {
  display: block;
  margin-bottom: 5px;
  font-size: 0.8em;
  font-weight: bold;
  color: #00c2ff;
  text-decoration: none;
}

.project-name {
  font-size: 1.5em;
  font-weight: 700;
  color: rgba(255, 255, 255, 1);;
}

.project-description {
  margin-top: 8px;
  color: rgba(255, 255, 255, 0.45);
  font-size: 0.975rem;
  margin-bottom: 0px;
}

@media (max-width: 768px) {
  .projects-container {
    grid-template-columns: 1fr;
  }
  
  .header h3 {
    font-size: 2.5rem;
  }
}
