* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
  
body {
    background-color: #f5f5f5 !important;
    font-family: Inter, "Source Sans Pro";
    min-height: 100vh;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    flex-direction: row;
}

.btn-primary {
    background-color: #00c2ff !important;
    border: none !important;
    transition: background-color .3s ease !important;
}

.btn-primary:hover {
    background-color: #0086b3 !important;
}

.header {
    margin: 50px 0;
}

.search-box {
    float: right;
  }
  
  .search-input {
    border: 1px solid #ccc;
    padding: 5px 10px;
    width: 200px;
    border-radius: 3px;
  }
  
  .search-button {
    background: none;
    border: none;
    margin-left: -25px;
    cursor: pointer;
  }  

.users-dashboard {
    margin-top: 20px;
}

.users-dashboard .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.users-dashboard .table {
    margin-top: 20px;
}

.edit-button {
    background-color: #00c2ff; 
    color: #f5f5f5;
    margin-right: 5px;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.edit-button:hover {
    background-color: #007B9A; 
}

.edit-button:focus {
    outline: none;
}


.delete-button {
    background-color: #FF0000; 
    color: white;
    margin-left: 5px;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.delete-button:hover {
    background-color: #CC0000; 
}
.delete-button:focus {
    outline: none;
}

.modal-content {
    transform: translate(0, 0);
    background-color: #f5f5f5 !important;
}
.input-field {
    border: 1px solid #ccc;
    background-color: #f5f5f5;
    border-radius: 3px; 
    padding-left: 10px;
    font-weight: 500;
}

@media screen and (max-width: 768px) {
    body {
        flex-direction: column;
    }
}

@media (max-width: 600px) {
    .search {
        flex-direction: column;
        align-items: stretch;
    }

    .search-form {
        margin-right: 0;
        width: 100%;
    }

    .search-input,
    .search-button {
        width: 100%;
        margin-top: 10px;
    }
}

.reply-div {
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.reply-text {
    font-size: 14px;
    color: #333;
}